apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  annotations:
    cloud.google.com/backend-config: '{"ports": {"8080":"spring-backend-config"}}'
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: ai-service
  annotations:
    cloud.google.com/backend-config: '{"ports": {"5001":"ai-backend-config"}}'
spec:
  type: ClusterIP
  selector:
    app: ai-service
  ports:
    - name: http
      port: 5001
      targetPort: 5001

